@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "variables.css";
@import "nav-bar.css";
@import "screen-header.css";
@import "friend.css";
@import "user-component.css";
@import "badge.css";
@import "find.css";
@import "icons.css";
@import "more.css";
@import "alt-screen-header.css";

body{
    font-family: "Open Sans", sans-serif;
    color: #2e363e;
}

.welcome-header{
    margin: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-header__title{
    margin-bottom: 25px;
    font-size: 25px;
}

.welcome-header__text{
    width: 60%;
    opacity: 0.6;
    font-weight: 600;
}

#login-form{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login-form input{
    border: none;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 25px;
}

#login-form input::placeholder{
    color: rgba(0, 0, 0, 0.25);
}

#login-form input:not([type="submit"]){
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    transition: border-color 0.2s ease-in-out;
}

#login-form input:focus{
    border-color: var(--yellow);
}

#login-form input[type="submit"]{
    background-color: var(--yellow);
    opacity: 0.8;
    cursor: pointer;
    font-size: 20px;
    padding: 15px 0px;
    border-radius: 7px;
}

#login-form a{
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: inherit;
}

.chats_screen {
    padding: 0px 20px;
}

#phone_numbers_caution {
    color: rgba(255, 0, 0, 0.6);
    margin-left: 1px;
}

#more_page_name_card_icon {
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.screen-x {
    margin-left: 20px;
    margin-right: 20px;
}

.screen-y {
    margin-top: 20px;
}